/* Universal selectors */
body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-weight: bold;
  text-align: center;
  opacity: 0.9;
}




/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  display: inline-block;
  text-align: right;
  flex-grow: 1; /* grow to fill the header */
  padding-right: 5px;
}

nav a, nav a:hover, nav a:visited {
  font-size: 22px;
  color: seashell;
  text-decoration: underline;
  padding: 5px;
}




/* Main Content */
.main-content {
  padding-top: 70px; /* so not hidden behind header */
}




/* First container with Our Mission image */
.container-first {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: auto; /* remember margin: auto to center container */
}

/* Our Mission Text overlay */
.container-overlay {
  background-color: black;
  width: 100%;
}






/* Tea of the Month Section */
.container-second {
  width: 1000px;
  margin: auto;
  padding-bottom: 30px;
}

/* Product Boxes */
.product-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 10px;
}

.product-box img {
  height: 200px;
  width: 300px;
}

.product-box span {
  padding-top: 5px;
}







/* Locations */

.container-third {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./../images/img-locations-background.jpg");
  height: 500px;
}

.location-box {
  background-color: black;
  height: 300px;
  width: 300px;
  padding: 0px;
}

.location-box h3 {
  font-size: 30px;
  padding: 20px;
  margin: auto;
}

.location-box p {
  font-weight: normal;
  padding: 20px;
  margin: auto;
}






/* Footer */
footer {
  display: block;
  height: 200px;
  padding-top: 10px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

.copyright {
  display: block;
  text-align: left;
  padding-left: 20px;
}
